* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

footer .moreOptions,
footer .moreOptions:hover,
footer .moreOptions:focus {
  color: #aeadad;
}
